@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: opacity, z-index, color ease-in-out 0.3s;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

body {
    box-sizing: border-box;
    display: inline-block;
    width: 100vw;
    max-width: 100vw;
    clear: both;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: #19191e4d;
        -webkit-box-shadow: 0 0 1px hsl(0deg 0% 100% / 50%);
    }
}

/* custom property group for tailwind */
@layer base {
    h1 {
        @apply text-lg sm:text-2xl font-semibold;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), 0 1px 1px rgba(0, 0, 0, 0.06);
    }

    h2 {
        @apply text-sm sm:text-xl font-light;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10), 1px 1px 3px rgba(0, 0, 0, 0.06);
    }

    h3 {
        @apply sm:text-lg;
    }

    h4 {
        @apply text-base;
    }

    * {
        @apply text-slate-950;
    }

    h1,
    h1 *,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav * {
        font-family: 'Fraunces', serif;
    }
}

@layer components{
    /* Custom Button */
    .btn-primary {
        @apply flex min-h-[50px] w-[235px] items-center gap-8 rounded-lg border-[1.5px] border-blue-950 bg-blue-950 px-7 py-3.5 text-sm text-white shadow-lg sm:text-base;
    }

    /* Alt Custom Button */
    .btn-alt-primary {
        @apply flex min-h-[50px] w-[235px] items-center gap-8 rounded-lg border-[1.5px] border-blue-950 bg-slate-50 px-7 py-3.5 text-sm text-blue-950 shadow-lg sm:text-base;
    }
}